body{
    background-color: aqua;
}
*{
    list-style-type: none;
    text-decoration: none;
}
nav>ul{
    display: flex;
    font-size: 20px;
    justify-content: center;
}
nav>ul>li{
    padding: 20px;
    gap: 20px;
}