<!DOCTYPE html> 
{% load static %}
<!--It is to load ststic file in html-->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Document</title>
  </head>
  <body>
    <h1>This is tempalte 1</h1>
    <!-- {{key|slice:'2'}} upper,lower,capfirst,truncatewords -->
    <!-- {{key|truncatechars:'3'}} -->
    <!-- {{key|default:"nothing"}} -->
    {% comment %}
    <ul>
      {%for i in std%}
      <li>{{i}}</li>
      {%endfor%}
    </ul>
    {% endcomment %}

    <h1>This is html</h1>
    <img src="{% static 'image/joker.jpg' %}" alt="">
  </body>
</html>
