<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>table</title>
</head>
<body>
    <h1>Student Data</h1>
    <p>The data is</p>
    {% if stu %}
    <table border="1" style="border:1px solid blueviolet; border-collapse: collapse;">
        <tr>
            <th>Name</th>
            <th>Roll no</th>
            <th>Address</th>
        </tr>
        {% for i in stu %}
        <tr>
            <td>{{i.name}}</td>
            <td>{{i.roll_no}}</td>
            <td>{{i.address}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h2>No data</h2>
    {% endif %}
</body>
</html>