<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Submit">
    </form>
    {% if stu %}
    <table border="1" style="border-collapse: collapse;">
        {% csrf_token %}

        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Email</th>
        </tr>

        {% for s in stu %}
        <tr>
            <td>{{s.name}}</td>
            <td>{{s.address}}</td>
            <td>{{s.email}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>No Data</p>
    {% endif %}
</body>

</html>